/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
    font-size: 24px;
    margin-top: 0;
  }
  
  p {
    color: #777;
    margin-bottom: 10px;
  }
  
  .price {
    font-weight: bold;
  }
  
  .stock {
    color: #c00;
    font-weight: bold;
  }
  
  .category {
    font-style: italic;
  }
  
  